---
layout: default
title: Mark Miyashita
---
<section class="about blue-section" id="about-me">
  <div class="row">
    <div class="twelve columns">
      <h1>About Me</h1>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <img src="/public/images/mark_miyashita.png" alt="Mark Miyashita" class="image-about-me">
    </div>
    <div class="nine columns">
      <h5>Hey, I'm Mark, a student at the University of California, Berkeley pursuing a degree in Electrical Engineering and Computer Science. I am currently working at Kloudless and I am also a TA for CS61A at UC Berkeley. I am passionate about web development, startups, challenging problems, and hacker culture. You can view my projects <a href="/#projects" class="load-projects">here</a> and contact me <a href="/#contact" class="load-contact">here.</a> Enjoy your stay!
    </div>
</section>

<section class="resume" id="resume-intro">
  <div class="row">
    <div class="twelve columns">
      Thanks for checking out my resume. Below you will find an interactive version and you can download a pdf <a href="/downloads/mark_miyashita_resume.pdf">here.</a>
    </div>
  </div>
</section>

<section class="resume blue-section" id="education">
  <div class="row">
    <div class="twelve columns">
      <h1>Education</h1>
    </div>
  </div>
  <div class="row">
    
    <div class="twelve columns padding-bottom">
      <div class="snapshot-image">
        <img src="/public/images/berkeley.png" alt="berkeley" class="image-medium-border">
      </div>
      <div class="snapshot-description">
        <h3>University of California, Berkeley, 2015</h3>
        <h3>B.S. Electrical Engineering and Computer Sciences (EECS)</h3>
        Relevent Coursework: CS61C (C, Mips), CS61BL (Java and Data Structures), CS61A (Python), CS98 (iOS/Objective-C), CS9E (Unix)
      </div>
    </div>
    
  </div>
</section>

<section class="resume" id="experience">
  
  <div class="row">
    <div class="twelve columns">
      <h1>Experience</h1>
    </div>
  </div>
  
  {% for job in site.work %}
  <div class="row company-modal" data-reveal-id="modal-{{ job.modal }}">
    <div class="two columns">
      <div class="company-image"><img src="{{ job.image }}" alt="{{ job.name }}" class="image-medium-border"></div>
    </div>
    <div class="ten columns">
      <div class="company-name">
        <h4 class="no-margin-top no-margin-bottom">{{ job.role }} at {{ job.name }}</h4>
        <h5 class="no-margin-top">({{ job.start-date }} - {{ job.end-date }})</h5>
        <h5>{{ job.description }}</h5>
      </div>
    </div>
  </div>
  {% endfor %}

</section>

<section class="resume" id="projects">
  <div class="row">
    <div class="twelve columns">
      <h1>Projects</h1>
    </div>
  </div>
  
  {% for project in site.projects limit:5 %}
  <div class="row company-modal" data-reveal-id="modal-{{ project.modal }}">
    <div class="two columns">
      <div class="company-image"><img src="{{ project.image }}" alt="{{ project.name }}" class="image-medium-border"></div>
    </div>
    <div class="ten columns">
      <div class="company-name">
        <h4 class="no-margin-top">{{ project.name }}
          {% if project.url %}<a href="{{ project.url }}">(demo)</a>{% endif %}
          {% if project.repo %}<a href="{{ project.repo }}">(repo)</a>{% endif %}
        </h4>
        <h5>{{ project.description }}</h5>
      </div>
    </div>
  </div>
  {% endfor %}
  
  <div class="row">
    <div class="three columns centered padding-bottom">
    <a class="large button" href="/projects">See more</a>
  </div>
  
</section>

<section class="resume blue-section" id="leadership">
  <div class="row">
    <div class="twelve columns">
      <h1>Leadership</h1>
    </div>
  </div>
  <div class="row padding-bottom">
    <div class="twelve columns">
      
      <h4>HKN (Eta Kappa Nu) Bridge Officer</h4>
      I am in charge of recording and capturing, the everlasting moments that take place during HKN events. I am also in charge of overseeing a group of candidates as they progress through the semester to becoming initiates in the EECS Honors Society.
      
      <h4>Hackers@Berkeley Media Committee:</h4>
      I help run <a href="http://hackersatberkeley.com">Hackers@Berkeley</a>, the largest computer science and engineering club at Cal. Responsibilities include maintaining the club website (<a href="http://hackersatberkeley.com">hackersatberkeley.com</a>) as well as planning and running events such as workshops.
    
    </div>
  </div>
</section>

<section class="resume" id="skills">
  <div class="row">
    <div class="twelve columns">
      <h1>Skills</h1>
    </div>
  </div>
  <div class="row padding-bottom">
    <div class="twelve columns">
      
      <h4>Proficient in:</h4>
      Python, Ruby on Rails, Java, HTML, CSS
      
      <h4>Experience in:</h4>
      Javascript, C, iOS Development, Objective-C, Django, Node.js, Ajax, Json, jQuery, Coffeescript, Sass, Scheme
      
      <h4>Other Software:</h4>
      Mac OS X, Unix, Windows 7/Vista/XP, Adobe Photoshop CS4/CS5, Microsoft Office (Word, Excel, Powerpoint)
    
    </div>
  </div>
</section>

<section class="resume" id="awards">
  <div class="row">
    <div class="twelve columns">
      <h1>Awards</h1>
    </div>
  </div>
  <div class="row padding-bottom">
    <div class="twelve columns">
      <h4>HKN Outstanding Candidate - Fall 2012</h4>
      I was selected as the Outstanding Candidate for the Fall 2012 initiates into HKN, the EECS Honors Society at UC Berkeley.
      
      <h4>H@B Hackjam - Hilfinger Award from Box</h4>
      My teammate and I were selected for this award based on our submission Tim which is described above.
      
      <h4>HKN (Eta Kappa Nu) Candidate - Fall 2012</h4>
      I was selected as a candidate for the EECS Honors Society. HKN accepts students in the top 1/4 of the Junior standing EECS students.
    
    </div>
  </div>
</section>

<section class="blog blue-section" id="blog-divider">
  <div class="row">
    <div class="twelve columns">
      <h1>Blog</h1>
    </div>
  </div>
</section>

<section class="blog" id="blog-full">
  <div class="row">
    <div class="twelve columns">
      {% for post in paginator.posts %}
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <h5>by: <a href="{{ post.author_url }}">{{ post.author_name }}</a></h5>
        <h5>{{ post.date | date:"%B %d, %Y"  }}</h5>
        <div class="padding-bottom"></div>
        <div class="blog-content">{{ post.content }}</div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="contact blue-section" id="contact">
  <div class="row">
    <div class="twelve columns">
      <h1>Contact</h1>
    </div>
  </div>
  <div class="row min-height">
    <ul class="button-group even two-up">
      <li><a href="https://github.com/negativetwelve/" class="button secondary">Github</a></li>
      <li><a href="http://www.linkedin.com/pub/mark-miyashita/38/63/49/" class="button secondary">LinkedIn</a></li>
    </ul>
    <ul class="button-group even two-up">
      <li><a href="mailto:negativetwelve@gmail.com" class="button secondary">Email</a></li>
      <li><a href="https://www.facebook.com/markmiyashita12" class="button secondary">Facebook</a></li>
    </ul>
  </div>
</section>

<!-- MODALS -->
<div id="modal-kloudless" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4>Software Engineer at Kloudless</h4>
  <div class="company-image-modal"><img src="/public/images/kloudless.png" alt="kloudless" class="image-medium-border"></div>
  {{ site.work[0].description }}
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-cs61a-ta" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4>Undergraduate Student Instructor for CS61A at UC Berkeley</h4>
  <div class="company-image-modal"><img src="/public/images/berkeley.png" alt="berkeley" class="image-medium-border"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-inigral" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4>Software Engineer Intern at Inigral, Inc.</h4>
  <div class="company-image-modal"><img src="/public/images/inigral.png" alt="inigral" class="image-medium-border"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-cs10-reader" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4>Head Reader for CS10 at UC Berkeley</h4>
  <div class="company-image-modal"><img src="/public/images/berkeley.png" alt="berkeley" class="image-medium-border"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-rescomp" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4>Residential Computing Consultant at UC Berkeley RSSP-IT</h4>
  <div class="company-image-modal"><img src="/public/images/rescomp.png" alt="rescomp" class="image-medium-border"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-cs61a-reader" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4>Reader for CS61A at UC Berkeley</h4>
  <div class="company-image-modal"><img src="/public/images/berkeley.png" alt="berkeley" class="image-medium-border"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-binaryage" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4>Website Developer/Editor at Mac Hints from BinaryAge</h4>
  <div class="company-image-modal"><img src="/public/images/binaryage.png" alt="binaryage" class="image-medium-border"></div>
 
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-appsearches" class="reveal-modal [expand, xlarge, large, medium, small] modal-company">
  <h4><a href="http://appsearches.com">Appsearch.es</a></h4>
  <div class="company-image-modal"><img src="/public/images/appsearches.png" alt="binaryage" class="image-full-width"></div>
  An iOS app search engine. Data is gathered using a scrapper that I built and stored in a Postgres database. Search is done by indexing the database and using Postgres built-in full-text search.
  <a class="close-reveal-modal">&#215;</a>
</div>