.pic {
  float: left;
  padding-top: 10px;
}

.about {
  float: left;
}

.description {
  margin-bottom: 10px;
}

.solution {
  display: none;
}

.tag_block {
  float: left;
  height: 100px;
  min-width: 144px;
  width: calc(20% - 3px);
  width: -webkit-calc(20% - 3px);
  background-color: #f2f2f2;
  border: solid 1px #e6e6e6;
  -moz-transition: background .15s linear;
  -webkit-transition: background .15s linear;
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;  
  margin-left: 3px;
  margin-bottom: 3px;
}

.problem_block {
  float: left;
  height: 200px;
  width: calc(33.33% - 3px);
  width: -webkit-calc(33.33% - 3px);
  min-width: 290px;
  background-color: #f2f2f2;
  border: solid 1px #e6e6e6;
  -moz-transition: background .15s linear;
  -webkit-transition: background .15s linear;
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.problem_block:hover, .tag_block:hover {
  background-color: #ddd;
}

.topic_comments {
  padding-top: 20px;
}

.note_comments {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.iframe_enclosure {
  max-width: 100%;
  overflow-x: scroll;
}