.pic {
  float: left;
  padding-top: 10px;
}

.about {
  float: left;
}

.description {
  margin-bottom: 10px;
}

.tag_block {
  float: left;
  height: 100px;
  min-width: 144px;
  width: calc(20% - 1px);
  width: -webkit-calc(20% - 1px);
  background-color: #ddd;
  -moz-transition: background .15s linear;
  -webkit-transition: background .15s linear;
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;  
  margin-left: 1px;
  margin-bottom: 1px;
}

.problem_block {
  float: left;
  height: 200px;
  width: 33%;
  min-width: 290px;
  background-color: #ddd;
  -moz-transition: background .15s linear;
  -webkit-transition: background .15s linear;
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.problem_block:hover, .tag_block:hover {
  background-color: #eee;
}

.topic_comments {
  padding-top: 20px;
}