.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.graph_area {

}

#main_graph {
  border: 1px solid #e2e2e2;
  height: 500px;
  width: auto;
}