body {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

h1 {
  
}

a {
  color: #03B;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  clear: both;
}

ul li {
  padding: 5px;
}

.main {
  //min-width: 850px;
}

@media (min-width: 979px) {
  .sidebar {
    width: 20%;
    position: fixed;
    min-height: 100%;
    min-width: 180px;
    background-color: whiteSmoke;
    padding-top: 10%;
    padding-left: 2%;
    z-index: 1;
  }
  
  .content {
    margin-left: 22%;
    min-width: 600px;
    width: 50%;
    position: relative;
    z-index: 10;
    padding: 50px 20px 0px 20px;
    background-color: white;
    border-left: 1px solid #E3E3E3;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    min-height: 1000px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .sidebar {
    width: 25%;
    position: fixed;
    min-height: 100%;
    min-width: 180px;
    background-color: whiteSmoke;
    padding-top: 50px;
    padding-left: 2%;
    z-index: 1;
  }
  
  .content {
    margin-left: 27%;
    min-width: 600px;
    position: relative;
    z-index: 10;
    padding: 50px 20px 0px 20px;
    background-color: white;
    border-left: 1px solid #E3E3E3;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    min-height: 1000px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 5px 20px;
    margin-bottom: 20px;
    background-color: whiteSmoke;
  }
  
  .content {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: auto;
    min-width: 0;
    margin-top: 0;
    padding: 0 5px;
    clear: both;
    background-color: white;
    position: absolute;
  }
}


.sidebar a {

}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar ul {
  padding: 0px;
  list-style-type: none;
}

.sidebar-inner {
}

.content-inner {

}

.links {

}

.home-page {
  padding-bottom: 25px;
}

.home-header {
  padding-top: 14px;
  font-size: 16px;
  font-weight: bold;
}

.home-p {
  margin-left: 10px;
}

.home-project {
  padding-top: 14px;
  font-size: 14px;
  font-weight: bold;
}

.home-subheader {
  
}

.projects-list {
  
}

.project {
  padding-bottom: 25px;
}

.project-header {
  padding-top: 14px;
  font-size: 16px;
  font-weight: bold;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
}

.blog-date {
  font-size: 14px;
}

.blog-content {
  
}

.img-full-width {
  width: 100%;
}

.img-rounded {
  border-radius: 10px;
}