<header id="ha-header" class="ha-header ha-header-shrink">
  <div class="ha-header-perspective">
    <div class="ha-header-front">
      <h1><span>Mark Miyashita</span></h1>
      <nav>
        <a href="/">About</a>
        <a href="/resume">Resume</a>
        <a href="/cs61a/{{ site.current_semester }}">CS61A</a>
        <a id="see-more" href="#">And More!</a>
      </nav>
    </div>
  </div>
</header>

<section class="ha-waypoint" data-animate-down="ha-header-color" data-animate-up="ha-header-shrink"></section>
