<header id="ha-header" class="ha-header ha-header-shrink">
  <div class="ha-header-perspective">
    <div class="ha-header-front">
      <h1><span>Mark Miyashita</span></h1>
      <nav>
        <a href="/about">About</a>
        <a href="/resume">Resume</a>
        <a href="/cs61a/{{ site.current_semester }}">CS61A</a>
        <a id="see-more" href="#">And More!</a>
      </nav>
    </div>
  </div>
</header>

<section class="ha-waypoint" data-animate-down="ha-header-color" data-animate-up="ha-header-shrink">
  <div class="filler"></div>
</section>

<!--
<div class="bs-header" id="content">
  <div class="container">
    <img class="profile-pic" src="/assets/images/mark_miyashita.jpg"></img>
    <h1>Mark Miyashita</h1>
    <h4>negativetwelve</h4>
    <p>
      <a href="/resume/#education">Student</a>, <a href="/resume/#work">Software Engineer</a>, <a href="/cs61a">Teacher</a>, <a href="/blog">Aspiring Entrepreneur</a>
    </p>
  </div>
</div>
-->
