<a href="/"><img class="profile_pic" src="/public/images/mark_miyashita_small.png"></img></a>

<h1>
  <a href="/">Mark Miyashita</a>
</h1>

<h2>
  <a href="/">negativetwelve</a>
</h2>

<h3>
  <p class="about_links">
    <a href="/resume/#education">Student</a>, <a href="/resume/#work">Software Engineer</a>, <a href="/cs61a">Teacher</a>, <a href="/blog">Aspiring Entrepreneur</a>
  </p>
</h3>

<div id="links">
  <span><a href="/">About</a></span>
  <span><a href="/projects">Projects</a></span>
  <span><a href="/resume">Resume</a></span>
  <span><a href="/blog">Blog</a></span>
  <span><a href="/cs61a/{{ site.current_semester }}">CS61A</a></span>
  <span><a href="/interviews">Interviews</a></span>
  <span><a href="/hkn">HKN</a></span>
  <span><a href="/web_dev">Web Development</a></span>
  <span><a href="/contact">Contact</a></span>
</div>
