.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.bs-sidebar .bs-sidenav li {
  font-size: 14px;
  line-height: 20px;
}

.project_image {
  max-width: 100%;
}

.img-border {
  max-width: 100%;
}
