ul.sub-items {
  margin-left: 20px;
  margin-top: 0;
}

.meny-close {
  color: #FFFFFF;
  opacity: 0.5;
}

.meny-close:hover, .meny-close:focus {
  color: #FFFFFF;
  opacity: 0.7;
}

#header-scroll-alert {
  position: relative;
  top: 110%;
  height: 180px;
}

.solution {
  display: none;
}

.red-badge {
  background-color: #b94a48;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.bs-sidebar .bs-sidenav li {
  font-size: 14px;
  line-height: 20px;
}

.project_image {
  max-width: 100%;
}

.img-border {
  max-width: 100%;
}

.disclaimer {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  font-size: 12px;
  line-height: 16px;
}

#markdown-toc {
  margin-bottom: 20px;
}

#disqus_thread {
  margin-top: 20px;
}

.solution_toggle {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
  padding: 6px 12px;
}

.solution_toggle:hover {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
  text-decoration: none;
}

@media(min-width: 1200px) {
  .profile-pic {
    float: left;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .profile-pic {
    float: left;
    width: 150px;
    height: 150px;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .profile-pic {
    float: left;
    width: 120px;
    height: 120px;
  }
}

@media(max-width: 767px) {
  .profile-pic {
    margin: 0 auto;
    position: relative;
    left: auto;
    right: auto;
    width: 100px;
    height: 100px;
  }
}
