.row {
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

@media (max-width: 750px) {
  .row {
    max-width: 100%;
  }
}

.max-width {
  max-width: 700px;
}

.affix {
  position: fixed;
}

.no_overflow {
  overflow: hidden;
}

img {
  width: 100%;
}

.img-border {
  max-width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
