---
layout: cs_course
---
{% capture class_name %}{{ page.categories[0] }}{% endcapture %}
{% if page.categories.size > 1 %}
  {% capture topic %}{{ page.categories[2] }}{% endcapture %}
  {% capture semester %}{{ page.categories[1] }}{% endcapture %}
{% else %}
  {% capture topic %}{{ page.categories[1] }}{% endcapture %}
  {% capture semester %}base{% endcapture %}
{% endif %}

<div class="page-header">
  <h3>{{ page.title }}</h3>
</div>

<p>
  Below are a list of <a href="#notes">Notes</a> and <a href="#problems">Practice Problems</a> related to this course. Notes are longer explanations of topics that are discussed in class. They include simpler examples and are aimed at being conceptual. Practice problems are tougher, discussion-level and exam-level material that allows you to practice what you have learned. Almost all problems include solutions but allow you to work before viewing the answers. If you have any questions about adding more material, <a href="/contact">contact me</a>.
</p>

<div class="page-header" id="notes">
  <h3>Notes:</h3>
</div>

<div class="cs-notes">
  <ul>
  {% for topic_hash in site.custom_posts[class_name][semester] %}
    {% assign topic = topic_hash[0] %}
    {% if site.custom_posts[class_name][semester][topic].notes.size > 0 %}
      {% for cs_post in site.custom_posts[class_name][semester][topic].notes %}
        {% if cs_post.semester == semester %}
          <li><a href="{{ cs_post.clean_url }}">{{ cs_post.name }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="page-header" id="problems">
  <h3>Practice Problems:</h3>
</div>

<div class="cs-problems">
  <p>
    Below are a list of practice problems, test what you've learned!
  </p>

  <ul>
  {% for topic_hash in site.custom_posts[class_name][semester] %}
    {% assign topic = topic_hash[0] %}
    {% if site.custom_posts[class_name][semester][topic].problems.size > 0 %}
      {% for cs_post in site.custom_posts[class_name][semester][topic].problems %}
        {% if cs_post.semester == semester %}
          <li><a href="{{ cs_post.clean_url }}">{{ cs_post.name }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
