---
layout: cs_course
---
{% capture class_name %}{{ page.categories[0] }}{% endcapture %}
{% if page.categories.size > 2 %}
  {% capture topic %}{{ page.categories[2] }}{% endcapture %}
  {% capture semester %}{{ page.categories[1] }}{% endcapture %}
{% else %}
  {% capture topic %}{{ page.categories[1] }}{% endcapture %}
  {% capture semester %}base{% endcapture %}
{% endif %}


<h1>{{ page.title }}</h1>

<div class="page-header">
  <h3>Notes:</h3>
</div>

<div class="cs-notes">
{% if site.custom_posts[class_name][semester][topic].notes.size == 0 %}
  <p>
    Looks like there currently aren't any notes (yet) about {{ page.name }}...if you'd like to see some, <a href="/contact">let me know.</a>
  </p>
{% else %}
  <ul>
  {% for cs_post in site.custom_posts[class_name][semester][topic].notes %}
    <li><h4><a href="{{ cs_post.clean_url }}">{{ cs_post.name }}</a></h4></li>
    {{ cs_post.content | summarize }}
    <a href="{{ cs_post.clean_url }}">(Read More!)</a>
  {% endfor %}
  </ul>
{% endif %}
</div>

<div class="page-header">
  <h3>Practice Problems:</h3>
</div>

<div class="cs-problems">
{% if site.custom_posts[class_name][semester][topic].problems.size == 0 %}
  <p>
    Looks like there currently aren't any practice problems (yet) about {{ page.name }}...if you'd like to see some, <a href="/contact">let me know.</a>
  </p>
{% else %}
  <p>
    Below are a list of practice problems, test what you've learned!
  </p>

  <ul>
  {% for cs_post in site.custom_posts[class_name][semester][topic].problems %}
    <li><a href="{{ cs_post.clean_url }}">{{ cs_post.name }}</a></li>
  {% endfor %}
  </ul>
{% endif %}
</div>