<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta name="google-site-verification" content="Sbao2yVur4CMYEsgpErDP5S6uuqaNxw3VOmmtylKbeA" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Mark Miyashita" />
   <link href="http://feeds.feedburner.com/markmiyashita" rel="alternate" title="Mark Miyashita" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/shared/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/shared/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Mark Miyashita</a>
    <a class="extra" href="/">about</a>
    <a class="extra" href="/resume">résumé</a>
    <a class="extra" href="/projects">projects</a>
    <a class="extra" href="/blog">blog</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Mark Miyashita<br />
        University of California, Berkeley<br />
        Electrical Engineering and Computer Science<br />
        Editor and Author at <a href="http://hints.binaryage.com/">Mac Hints from BinaryAge</a><br />
        negativetwelve[at]gmail[dot]com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/negativetwelve/">github.com/negativetwelve</a><br />
        <a href="http://twitter.com/negativetwelve/">twitter.com/negativetwelve</a><br />
        <a href="https://plus.google.com/101180624276428786239?rel=author">Google+</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/markmiyashita">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-29669299-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>