<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} {% endif %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1> Mark Miyashita | EECS | University of California, Berkeley </h1>
    <header>
 
    <nav role="navigation">
      <ul>
      </ul>
    </nav>
 
    {{ content }}
 
    <footer>
      <p>(c) Mark Miyashita 2012 | All Rights Reserved. </p>
    </footer>
 
  </div>
</body>
</html>