{% convert layouts/default.slim %}

<script>
  var meny = Meny.create({
    menuElement: document.querySelector('.meny'),
    contentsElement: document.querySelector('.contents'),
    position: 'left',

    // The height of the menu (when using top/bottom position)
    height: 200,

    // The width of the menu (when using left/right position)
    width: 260,

    // The mouse distance from menu position which can trigger menu to open.
    threshold: 60,

    // Width(in px) of the thin line you see on screen when menu is in closed position.
    overlap: 10,

    // The total time taken by menu animation.
    transitionDuration: '0.5s',

    // Transition style for menu animations
    transitionEasing: 'ease',

    // Use mouse movement to automatically open/close
    mouse: true,

    // Use touch swipe events to open/close
    touch: true
  });

$(".meny-arrow").click(function(event) {
  meny.open();
});

$(document).ready(function() {
  var $head = $( '#ha-header' );
  $( '.ha-waypoint' ).each( function(i) {
    var $el = $( this ),
      animClassDown = $el.data( 'animateDown' ),
      animClassUp = $el.data( 'animateUp' );

    $el.waypoint( function( direction ) {
      if( direction === 'down' && animClassDown ) {
        $head.attr('class', 'ha-header ' + animClassDown);
      }
      else if( direction === 'up' && animClassUp ){
        $head.attr('class', 'ha-header ' + animClassUp);
      }
    }, { offset: '100%' } );
  });
});
</script>
