<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta name="google-site-verification" content="Sbao2yVur4CMYEsgpErDP5S6uuqaNxw3VOmmtylKbeA" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, minimum-scale=0.5">
    <title>{{ page.title }}</title>
    <meta name="author" content="Mark Miyashita" />
    <link href="http://feeds.feedburner.com/markmiyashita" rel="alternate" title="Mark Miyashita" type="application/atom+xml" />
    
    <script type="text/javascript" src="/public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="/public/js/foundation.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
    
    <link rel="stylesheet" href="/public/css/foundation.min.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/site.css" type="text/css" />
    
  </head>
  <header>
    {% include header.html %}
  </header>
  <body>
    <div id="content"></div>
    {{ content }}

    <!-- Google Analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-29669299-1");
    pageTracker._trackPageview();
    </script>
    <!-- Google Analytics end -->
    
    <!-- Foundation Navigation -->
    <script>
      $(document).foundationNavigation();
      $(document).foundationAccordion();
    </script>
    <!-- Foundation Navigation end -->

  </body>
  
  <footer>
    {% include footer.html %}
  </footer>
</html>