---
layout: cs61a_base
title: CS61A - Spring 2013 - Mark Miyashita
---
<section class="cs61a" id="cs61a">
  <div class="row">
    <div class="twelve columns">
      <h1>CS61A Spring 2013</h1>
      {% for problem in site.problems %}
        {{ problem.name }}
        {{ problem.description }}
      {% endfor %}
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <img src="/public/images/mark_miyashita.png" class="pic"></img>
      <div class="about">
        <h1>Mark Miyashita<h1>
        <h4>
          Sections:
        </h4>
          Lab/Disc 23 - WF 11am-12:30pm<br/>
          Lab/Disc 27 - TTh 9:30am-11am
        <h4>
          Office Hours:
        </h4>
          Tuesday 11am-12pm, 3-4pm in 751 Soda<br/>
          Wednesday 2-3pm in 345 Soda<br/>
          Thursday 11am-12pm in 345 Soda<br/>
      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <div class="about_me">
          <h4>Email:</h4>
          <a href="mailto:cs61a-td@imail.eecs.berkeley.edu">cs61a-td@imail.eecs.berkeley.edu</a>
          <h4>Personal:</h4>
          You can find my personal site <a href="http://markmiyashita.com">here.</a> You can also find my projects <a href="http://markmiyashita.com/projects">here.</a> Always feel free to send me an email with any questions you have!
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <div class="announcements">
          <h2>Announcements!</h2>
          <h4>Extra Problems:</h4>
          Starting on Tuesday the 19th, I have given out either a warmup problem or a challenge problem to my lab and discussion sections. They will be posted below and updated throughout the semester with solutions.
          <hr>
        </div>
      </div>
    </div> 

    <div class="row">
      <div class="twelve columns">
        <div id="tags">
          <h2>Topics</h2>
          {% for topic in site.problem_topics %}
            <a href="/cs61a/sp13/topics/{{ topic.url }}">
              <div class="tag_block">
                <h4>{{ topic.name }}</h4>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <div id="problems">
          <h2>Problems</h2>
          {% for problem in site.categories.problems %}
            {% if problem.published %}
            <a href="{{ problem.url }}">
              <div class="problem_block">
                <h3>{{ problem.title }}</h3>
                <h5>{{ problem.type }} Problem<h5>
                <h5>{{ problem.date | date: "%b %d, %Y" }}</h5>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
