---
layout: cs61a_base
title: CS61A - Spring 2013 - Mark Miyashita
---
<header id="top_bar">
  <date class="current_date"></date>
</header>

<article class="post">
  <h2>CS61A Spring 2013</h2>
  
  <div class="announcement">
    <h2>Announcements</h2>
    <p>
      If you are looking for extra practice problems or supplementary notes, check them out <a href="#extra_problems">below!</a>
    </p>
    <h4>Important Dates to Note:</h4>
    <ul>
      <li>TA Review Session - Saturday, March 16th - 2-4pm - 2050 VLSB</li>
      <li>HKN Review Session - Sunday, March 17th - 4-7pm - 145 Dwinelle</li>
      <li>Extra Office Hours - Sunday, March 17th - 1-4pm - 310 Soda</li>
      <li>Extra Review/Discussions - Thursday, March 21st - All Day - 310 Soda</li>
    </ul>
  </div>
  
  <h4>Office Hours:</h4>
  <p>
    Tuesday 11am-12pm, 3-4pm in 751 Soda<br/>
    Wednesday 2-3pm in 345 Soda<br/>
    Thursday 11am-12pm in 345 Soda<br/>
  </p>
  
  <h4>Sections:</h4>
  <p>
    Lab/Disc 23 - WF 11am-12:30pm<br/>
    Lab/Disc 27 - TTh 9:30am-11am
  </p>
  
  <h4>Email:</h4>
  <p>
    <a href="mailto:cs61a-td@imail.eecs.berkeley.edu">cs61a-td@imail.eecs.berkeley.edu</a>
  </p>
  
  <h4>Personal:</h4>
  <p>
    You can find my personal site <a href="http://markmiyashita.com">here.</a> You can also find my projects <a href="http://markmiyashita.com/projects">here.</a> Always feel free to send me an email with any questions you have!
  </p>
  
</article>

<article class="post" id="extra_problems">
  <h2>Notes:</h2>
  <p>
    These are a work in progress, if there is a specific topic you would like me to do first, please let me know via email!
  </p>
  <ul>
    {% for topic in site.categories.notes reversed %}
    <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h2>Problems:</h2>
  <ul>
    {% for problem in site.categories.problems %}
    <li>{{ problem.date | date: "%b %d, %Y" }} - <a href="{{ problem.url }}">{{ problem.title }}</a></li>
    {% endfor %}
  </ul>
</article>